.width_alter {
  width: 500px;
}
/* .container {
  border: 1px solid #b5d1dd;
}
.my_row {
  display: flex;
}
.left_side {
  width: 100px;
  margin-left: 40px;
  margin-top: 80px;
}
.right_side {
  margin-left: 50px;
} */
