/* .left_side{
    margin-right: 100px;
}
.new_width{
    width: 700px;
}

.right_side{
    border: 1px solid #b5d1dd;
    border-radius: 10px;
   width: 1000px;
   padding: 10px 5px 10px 5px;
    /* color: #b5d1dd; */
/* }
.my_row{
    display: flex;
}
.flex_item{
    display: flex;
    margin-top: 7px;
}
.last{
    margin-left: 20px;
}
.others{
    margin-left: 50px;
    margin-top: -10px;
}
.errors{
    color: red;
    font-size: 15px;
}
.modified .new{
    
    height: 200px;
}
@media only screen and (max-width: 900px){ 
  
   .left_side{
    display:none;
   }
   .right_side
   { 
    display: flex;
   flex-direction: column;
   max-width: 800px;
  }
   
} */
.container {
  /* margin-top: 200px; */
  /* max-width: 600px; */
  /* border: 1px solid white; */
  /* border: 1px solid white; */
  /* border-radius: 10px; */
  /* margin-left: -500px; */
}
.my_row {
  display: flex;
}
.right_side {
  /* width: 1000px; */
  /* margin-top: 200px; */
}
